
<main class="container mx-auto p-4">
<div *ngIf="!loading; else loadingTemplate" class="p-6">
  <!-- Detay sayfasında resim boyutunu ayarlıyoruz -->
  <img [src]="product.imageUrl" alt="{{ product.name }}" class="w-full h-72 object-contain mb-4 rounded-lg">

  <h1 class="text-3xl font-bold">{{ product.name }}</h1>
  <p class="text-xl">{{ product.price | currency }}</p>
  <p class="text-gray-600">{{ product.description }}</p>

  <p class="text-sm text-gray-500">Category: {{ product.category }}</p>
  <p class="text-sm text-gray-500">Stock: {{ product.stock }}</p>

  <!-- Rating -->
  <div class="mt-4">
    <p class="font-semibold">Rating: {{ product.rating.rate }} ⭐</p>
    <p class="text-sm text-gray-500">Reviews: {{ product.rating.count }} reviews</p>
  </div>
</div>

<!-- Loading template -->
<ng-template #loadingTemplate>
  <div class="p-6 text-center">
    <p>Loading...</p>
  </div>
</ng-template>
</main>

