<!-- my-products.component.html -->
<table class="w-full table-auto">
  <!-- başlık… -->
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.price | currency:'TRY' }}</td>
      <td>{{ p.stock }}</td>
      <td>{{ p.status }}</td>
      <td>
        <button
          class="px-2 py-1 bg-yellow-500 text-white rounded"
          (click)="onEdit(p.id)"
        >
          Düzenle
        </button>
      </td>
    </tr>
  </tbody>
</table>
